# Configuración y análisis inicial

In [105]:
##Importar las librerías requeridas para el análisis
import numpy as np
import pandas as pd

import matplotlib.pyplot as plt

%matplotlib inline

In [106]:
##Definir tamaño máximo de filas a mostrar
pd.set_option('display.max_rows', 100)

In [107]:
##Importar el dataset del CSV
df = pd.read_csv('../data/accidentes.csv')

In [108]:
##Importar los dataset del CSV
df_lesiones_transito = pd.read_csv('../data/accidentesV2.csv')
df_delitos_sexuales = pd.read_csv('../data/delitosV2.csv')
df_hurto_comercio = pd.read_csv('../data/hurto_comercioV2.csv')
df_hurto_autos = pd.read_csv('../data/hurto_motocicletasV2.csv')

df_delitos_sexuales = df_delitos_sexuales[['DEPARTAMENTO','MUNICIPIO','CODIGO DANE','ARMAS MEDIOS','FECHA HECHO','GENERO','GRUPO ETARIO','delito','CANTIDAD']]

C:\Users\D6587094\AppData\Local\Temp\ipykernel_13688\1911963479.py:4: DtypeWarning: Columns (2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_hurto_comercio = pd.read_csv('../data/hurto_comercioV2.csv')

In [109]:
##Visualizar los primeros datos
df_lesiones_transito.head(5)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN CONDUCTA,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,ATLÁNTICO,BARRANQUILLA (CT),8001,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ATLÁNTICO,LURUACO,8421,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAQUETÁ,PUERTO RICO,18592,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,CASANARE,AGUAZUL,85010,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [110]:
df_delitos_sexuales.head(1)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,delito,CANTIDAD
0,CAQUETÁ,SOLANO,18756,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,MENORES,ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS,1

In [111]:
df_hurto_comercio.head(1)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,TIPO DE HURTO,CANTIDAD
0,CAQUETÁ,SAN VICENTE DEL CAGUÁN,18753,ARMA BLANCA / CORTOPUNZANTE,1/01/2010,FEMENINO,ADULTOS,HURTO RESIDENCIAS,1

In [112]:
df_hurto_autos.head(1)

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARIO,TIPO DE HURTO,CANTIDAD
0,ANTIOQUIA,MEDELLÍN,5001,ARMA DE FUEGO,1/01/2010,NO APLICA,NO APLICA,HURTO AUTOMOTORES,1

In [113]:
dfs = [df_lesiones_transito.rename(columns={'DESCRIPCIÓN CONDUCTA':'DESCRIPCIÓN'}),df_delitos_sexuales.rename(columns={'delito':'DESCRIPCIÓN','GRUPO ETARIO':'GRUPO ETARÍO'}),df_hurto_comercio.rename(columns={'TIPO DE HURTO':'DESCRIPCIÓN','GRUPO ETARIO':'GRUPO ETARÍO'}),df_hurto_autos.rename(columns={'TIPO DE HURTO':'DESCRIPCIÓN','GRUPO ETARIO':'GRUPO ETARÍO'})]
dfs

[      DEPARTAMENTO          MUNICIPIO  CODIGO DANE  ARMAS MEDIOS FECHA HECHO  \
 0        ANTIOQUIA            LA CEJA         5376          MOTO   1/01/2010
 1        ATLÁNTICO  BARRANQUILLA (CT)         8001          MOTO   1/01/2010
 2        ATLÁNTICO            LURUACO         8421          MOTO   1/01/2010
 3          CAQUETÁ        PUERTO RICO        18592          MOTO   1/01/2010
 4         CASANARE            AGUAZUL        85010          MOTO   1/01/2010
 ...            ...                ...          ...           ...         ...
 59800        VALLE            RIOFRÍO        76616  NO REPORTADO  16/04/2022
 59801        VALLE               TORO        76823  NO REPORTADO  20/02/2022
 59802        VALLE               TORO        76823  NO REPORTADO  20/02/2022
 59803        VALLE              TULUÁ        76834  NO REPORTADO  16/04/2022
 59804        VALLE              TULUÁ        76834  NO REPORTADO  16/04/2022

           GENERO  GRUPO ETARÍO  \
 0      MASCULINO       ADULTOS
 1       FEMENINO       ADULTOS
 2      MASCULINO       ADULTOS
 3      MASCULINO  ADOLESCENTES
 4      MASCULINO       ADULTOS
 ...          ...           ...
 59800  MASCULINO       ADULTOS
 59801   FEMENINO       ADULTOS
 59802  MASCULINO       ADULTOS
 59803   FEMENINO       ADULTOS
 59804  MASCULINO       ADULTOS

                                              DESCRIPCIÓN  CANTIDAD
 0      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 1      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 2      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 3      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 4      ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 ...                                                  ...       ...
 59800  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 59801  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 59802  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         4
 59803  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1
 59804  ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...         1

 [59805 rows x 9 columns],
        DEPARTAMENTO            MUNICIPIO  CODIGO DANE  \
 0           CAQUETÁ               SOLANO        18756
 1           BOLÍVAR       CARTAGENA (CT)        13001
 2             HUILA             LA PLATA        41396
 3         SANTANDER          PIEDECUESTA        68547
 4              META   VILLAVICENCIO (CT)        50001
 ...             ...                  ...          ...
 241734      VICHADA  PUERTO CARREÑO (CT)        99001
 241735      VICHADA  PUERTO CARREÑO (CT)        99001
 241736      VICHADA  PUERTO CARREÑO (CT)        99001
 241737      VICHADA        SANTA ROSALÍA        99624
 241738      VICHADA        SANTA ROSALÍA        99624

                        ARMAS MEDIOS FECHA HECHO      GENERO  GRUPO ETARÍO  \
 0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010    FEMENINO       MENORES
 1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010    FEMENINO  ADOLESCENTES
 2       ARMA BLANCA / CORTOPUNZANTE   1/01/2010    FEMENINO       ADULTOS
 3                      CONTUNDENTES   1/01/2010    FEMENINO       ADULTOS
 4                      CONTUNDENTES   1/01/2010    FEMENINO       ADULTOS
 ...                             ...         ...         ...           ...
 241734          SIN EMPLEO DE ARMAS  15/02/2022    FEMENINO       ADULTOS
 241735          SIN EMPLEO DE ARMAS   7/03/2022    FEMENINO       ADULTOS
 241736          SIN EMPLEO DE ARMAS  17/03/2022  NO REPORTA    NO REPORTA
 241737          SIN EMPLEO DE ARMAS  22/02/2022    FEMENINO  ADOLESCENTES
 241738          SIN EMPLEO DE ARMAS   4/04/2022    FEMENINO       MENORES

                                               DESCRIPCIÓN  CANTIDAD
 0       ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS         1
 1                    ARTÍCULO 205. ACCESO CARNAL VIOLENTO         1
 2                    ARTÍCULO 205. ACCESO CARNAL VIOLENTO         1
 3                    ARTÍCULO 205. ACCESO CARNAL VIOLENTO         1
 4                    ARTÍCULO 205. ACCESO CARNAL VIOLENTO         1
 ...                                                   ...       ...
 241734               ARTÍCULO 205. ACCESO CARNAL VIOLENTO         1
 241735  ARTÍCULO 207. ACCESO CARNAL O ACTO SEXUAL EN P...         1
 241736  ARTÍCULO 209. ACTOS SEXUALES CON MENOR DE 14 AÑOS         1
 241737  ARTÍCULO 208. ACCESO CARNAL ABUSIVO CON MENOR ...         1
 241738                       ARTÍCULO 210 A. ACOSO SEXUAL         1

 [241739 rows x 9 columns],
        DEPARTAMENTO               MUNICIPIO CODIGO DANE  \
 0           CAQUETÁ  SAN VICENTE DEL CAGUÁN       18753
 1             CAUCA                POPAYÁN        19001
 2             HUILA                PITALITO       41551
 3             VALLE                 JAMUNDÍ       76364
 4          AMAZONAS                LETICIA        91001
 ...             ...                     ...         ...
 492958    MAGDALENA            SANTA MARTA        47001
 492959    SANTANDER            BUCARAMANGA        68001
 492960        SUCRE                MAJAGUAL       70429
 492961        SUCRE       SAN LUIS DE SINCÉ       70742
 492962       TOLIMA                  LÉRIDA       73408

                        ARMAS MEDIOS FECHA HECHO     GENERO GRUPO ETARÍO  \
 0       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
 1       ARMA BLANCA / CORTOPUNZANTE   1/01/2010   FEMENINO      ADULTOS
 2                     ARMA DE FUEGO   1/01/2010  MASCULINO      ADULTOS
 3                     ARMA DE FUEGO   1/01/2010  MASCULINO      ADULTOS
 4                      CONTUNDENTES   1/01/2010  MASCULINO      ADULTOS
 ...                             ...         ...        ...          ...
 492958                   NO REPORTA  28/02/2022   FEMENINO      ADULTOS
 492959                   NO REPORTA  30/03/2022   FEMENINO      ADULTOS
 492960                   NO REPORTA  12/01/2022  MASCULINO      ADULTOS
 492961                   NO REPORTA  21/02/2022  MASCULINO      ADULTOS
 492962                   NO REPORTA  30/04/2022   FEMENINO      ADULTOS

               DESCRIPCIÓN  CANTIDAD
 0       HURTO RESIDENCIAS         1
 1       HURTO RESIDENCIAS         2
 2       HURTO RESIDENCIAS         1
 3       HURTO RESIDENCIAS         1
 4       HURTO RESIDENCIAS         1
 ...                   ...       ...
 492958  HURTO RESIDENCIAS         1
 492959  HURTO RESIDENCIAS         1
 492960  HURTO RESIDENCIAS         1
 492961  HURTO RESIDENCIAS         1
 492962  HURTO RESIDENCIAS         1

 [492963 rows x 9 columns],
         DEPARTAMENTO            MUNICIPIO  CODIGO DANE   ARMAS MEDIOS  \
 0          ANTIOQUIA            MEDELLÍN          5001  ARMA DE FUEGO
 1          ANTIOQUIA            OPACABANA         5212  LLAVE MAESTRA
 2          ANTIOQUIA            MEDELLÍN          5001  LLAVE MAESTRA
 3       CUNDINAMARCA         BOGOTÁ D.C.         11001  LLAVE MAESTRA
 4              VALLE                 ALI         76001  LLAVE MAESTRA
 ...              ...                  ...          ...            ...
 276799        NARIÑO              IPIALES        52356     NO REPORTA
 276800        TOLIMA              ESPINAL        73268     NO REPORTA
 276801         VALLE  GUADALAJARA DE BUGA        76111     NO REPORTA
 276802         VALLE              SEVILLA        76736     NO REPORTA
 276803         VALLE                 ULUÁ        76834     NO REPORTA

        FECHA HECHO     GENERO GRUPO ETARÍO         DESCRIPCIÓN  CANTIDAD
 0        1/01/2010  NO APLICA    NO APLICA   HURTO AUTOMOTORES         1
 1        1/01/2010  NO APLICA    NO APLICA   HURTO AUTOMOTORES         1
 2        1/01/2010  NO APLICA    NO APLICA   HURTO AUTOMOTORES         1
 3        1/01/2010  NO APLICA    NO APLICA   HURTO AUTOMOTORES         1
 4        1/01/2010  NO APLICA    NO APLICA   HURTO AUTOMOTORES         1
 ...            ...        ...          ...                 ...       ...
 276799  08/04/2022  NO APLICA    NO APLICA  HURTO MOTOCICLETAS         1
 276800  02/04/2022  NO APLICA    NO APLICA  HURTO MOTOCICLETAS         1
 276801  11/02/2022  NO APLICA    NO APLICA  HURTO MOTOCICLETAS         1
 276802  06/01/2022  NO APLICA    NO APLICA  HURTO MOTOCICLETAS         1
 276803  11/03/2022  NO APLICA    NO APLICA  HURTO MOTOCICLETAS         1

 [276804 rows x 9 columns]]

In [114]:
df = pd.concat(dfs,ignore_index=True)

In [115]:
df.head()

,DEPARTAMENTO,MUNICIPIO,CODIGO DANE,ARMAS MEDIOS,FECHA HECHO,GENERO,GRUPO ETARÍO,DESCRIPCIÓN,CANTIDAD
0,ANTIOQUIA,LA CEJA,5376,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
1,ATLÁNTICO,BARRANQUILLA (CT),8001,MOTO,1/01/2010,FEMENINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
2,ATLÁNTICO,LURUACO,8421,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
3,CAQUETÁ,PUERTO RICO,18592,MOTO,1/01/2010,MASCULINO,ADOLESCENTES,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1
4,CASANARE,AGUAZUL,85010,MOTO,1/01/2010,MASCULINO,ADULTOS,ARTÍCULO 109. HOMICIDIO CULPOSO ( EN ACCIDENTE...,1

In [130]:
df['MUNICIPIO']=df['MUNICIPIO'].replace({'BARRANQUILLA (CT)': 'BARRANQUILLA','MEDELLÍN (CT)':'MEDELLÍN','ARTAGENA':'CARTAGENA','CARTAGENA (CT)':'CARTAGENA','BOGOTÁ D.C. (CT)':'BOGOTÁ D.C.','ALI':'CALI','CALI (CT)':'CALI'})

In [131]:
#Importar el archivo con la cantidad de habitantes proyectada para el 2022 por municipio
df_habitantes = pd.read_csv('../data/proyeccion_habitantes.csv')

In [132]:
df_habitantes

      CODIGO DANE       MUNICIPIO  HABITANTES
0            5001        Medellín     2612958
1            5002       Abejorral       20920
2            5004        Abriaquí        2820
3            5021      Alejandría        4845
4            5030           Amagá       32259
...           ...             ...         ...
1117        97889   Yavaraté (CD)        1211
1118        99001  Puerto Carreño       20798
1119        99524    La Primavera        9846
1120        99624   Santa Rosalía        4297
1121        99773        Cumaribo       80837

[1122 rows x 3 columns]

In [133]:
df_habitantes = df_habitantes.loc[lambda x : x['HABITANTES']>1000000]

In [134]:
df_habitantes

      CODIGO DANE            MUNICIPIO  HABITANTES
0            5001             Medellín     2612958
125          8001         Barranquilla     1312473
148         11001            Bogotá DC     7901653
149         13001  Cartagena de Indias     1055035
1005        76001                 Cali     2280907

In [135]:
df.shape

(245743, 10)

In [136]:
df.drop(df[~df['CODIGO DANE'].isin(df_habitantes['CODIGO DANE'])].index, inplace = True)

In [137]:
df.shape

(245743, 10)

In [138]:
def get_population(code):
    hab = df_habitantes.loc[df_habitantes['CODIGO DANE']==code,['HABITANTES']]
    if hab.empty:
        return 0
    else:
        return hab.iloc[0]['HABITANTES']

In [ ]:
df['HABITANTES']=df['CODIGO DANE'].apply(get_population)

In [ ]:
df=df.loc[lambda x : x['HABITANTES']>0]

In [ ]:
df

In [128]:
#df_new=[df.groupby(['DEPARTAMENTO','MUNICIPIO','CODIGO DANE','HABITANTES'])['DEPARTAMENTO','MUNICIPIO','CODIGO DANE','HABITANTES','CANTIDAD'].agg({'CANTIDAD':'sum'})]
df_new=df.groupby(['DEPARTAMENTO','MUNICIPIO','CODIGO DANE','HABITANTES']).agg({'CANTIDAD':'sum'}).reset_index()
#df1.groupby(["Name", "City"]).size().reset_index(name='count')

C:\Users\D6587094\AppData\Local\Temp\ipykernel_13688\4209206730.py:1: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  df_new=[df.groupby(['DEPARTAMENTO','MUNICIPIO','CODIGO DANE','HABITANTES'])['DEPARTAMENTO','MUNICIPIO','CODIGO DANE','HABITANTES','CANTIDAD'].agg({'CANTIDAD':'sum'})]

In [129]:
df_new

   DEPARTAMENTO          MUNICIPIO  CODIGO DANE  HABITANTES  CANTIDAD
0     ANTIOQUIA          MEDELLÍN          5001     2612958     96191
1     ANTIOQUIA      MEDELLÍN (CT)         5001     2612958     15663
2     ATLÁNTICO      BARRANQUILLA          8001     1312473     28514
3     ATLÁNTICO  BARRANQUILLA (CT)         8001     1312473      7025
4       BOLÍVAR          ARTAGENA         13001     1055035     16371
5       BOLÍVAR     CARTAGENA (CT)        13001     1055035      5528
6  CUNDINAMARCA       BOGOTÁ D.C.         11001     7901653    218771
7  CUNDINAMARCA   BOGOTÁ D.C. (CT)        11001     7901653     38527
8         VALLE               ALI         76001     2280907     82732
9         VALLE          CALI (CT)        76001     2280907     15862